# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\P7806\Documents\FIDELTEST\FX-FIX\CHECK\SANNI_MICHAEL_KAFKA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
